
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}


h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
header {
    background-color: #969696;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
header .top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}



.top-bar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex; /* Добавляем flex-контейнер */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    padding: 10px; /* Добавляем внутренний отступ */
    border-radius: 10px;
    background-color: transparent; /* Убираем задний фон */
    width: 100%; /* Чтобы логотип занимал всю доступную ширину */
    text-align: center; /* Выравниваем текст по центру */
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    background-image: linear-gradient(to right bottom, #e300ff, #ff00aa, #ff5956, #ffb900, #fffe00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Обводка текста */
}











header .address {
    
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-top: 36px;
}
header .address img {
    height: 16px;
    margin-right: 5px;
}
main {
    padding: 10px;
}
.swiper-container {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}
.swiper-slide {
    
    
    
    
    max-width: 95%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    
}


.swiper-slide{
    background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  
  transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;

}




.swiper-slide:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .swiper-slide:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .swiper-slide:hover:before {
    transform: translateX(-100%);
  }
  
  .swiper-slide:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .swiper-slide:hover:after {
    transform: translateX(100%);
  }



.categories h2, .offers h2 {
    margin-bottom: 10px;
}


.footer {
    
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-around; /* Равномерное распределение кнопок */
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.footer img{
    height: 32px;
}
.footer button {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

.footer button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Цвет фона при наведении */
    color: #ffc107; /* Цвет текста при наведении */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Тень при наведении */
    transform: translateY(-2px); /* Эффект подъема кнопки */
    transition: background-color 0.3s ease,
                color 0.3s ease,
                transform 0.2s ease,
                box-shadow 0.3s ease; /* Плавные изменения */
}



  

.box-input {
    min-width: 100%;
    position: relative;
  }
  
  .border {
    min-width: 100%;
    background-image: linear-gradient(to right bottom, #e300ff, #ff00aa, #ff5956, #ffb900, #fffe00);
    box-shadow: -25px -10px 30px -5px rgba(225, 0, 255, 0.5),
      25px -10px 30px -5px rgba(255, 0, 212, 0.5),
      25px 10px 30px -5px rgba(255, 174, 0, 0.5),
      -25px 10px 30px -5px rgba(255, 230, 0, 0.5);
    padding: 4px;
  }
  
  .input {
    min-width: 100%;
    background-color: #212121;
    max-width: 250px;
    height: 40px;
    padding: 0 19px 0 10px;
    font-size: 1.1em;
    position: relative;
    border: none;
    color: white;
    outline: 0;
    overflow: hidden;
  }
  
  .box-input::after,
  .box-input::before {
    min-width: 100%;
    content: "";
    
    height: 30px;
    position: absolute;
    z-index: -1;
  }
  
  .box-input::after {
    min-width: 100%;
    bottom: 0;
    right: 0;
  }
  
  .box-input::before {
    min-width: 100%;
    top: 0;
    left: 0;
  }
  
  .input::placeholder {
    min-width: 100%;
    transition: all 0.5s ease-in, transform 0.2s ease-in 0.6s;
  }
  
  .input:focus::placeholder {
    min-width: 100%;
    padding-left: 100%;
    transform: translateY(-50px);
  }
  

